extends layout

block content
    h1= title
    #sshots
        - each sshot in sshots
          div.sshot
            div.created_at= sshot.postdate
            div.path= sshot.user_id.name
            div.view_ss
               a(href="/screenshots/view?_id="+sshot._id+"")!= "View Screen Shot Batch" 
            
            

    .block                
        a(href="/")!= "Return to App Index"
   
    
