extends layout

block content
    h1= "Edit URL"
    div.newurl
        form( method="post")
            input(name="_id", type="hidden", value=url._id.toHexString()) 
            div
                div
                    span.label Path :
                    input(type="text", name="path", id="editURLPath", value=url.path)
                div
                    span.label Host :
                    input(type="text", name="host", id="editURLHost", value=url.host)
                div#editURLSubmot
                    input(type="submit", value="Update")
        a(href="/")!= "Back to URL list"
