extends layout

block content
    h1= "Edit User"
    div.newuser
        form( method="post")
            input(name="_id", type="hidden", value=user._id) 
            div
                div
                    span.label Title :
                    input(type="text", name="title", id="editEmployeeTitle", value=user.title)
                div
                    span.label Name :
                    input(type="text", name="name", id="editEmployeeName", value=user.name)
                div#editEmployeeSubmit
                    input(type="submit", value="Update")
        a(href="/user/index")!= "Back to App User List"
